<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Company">
  <resultMap id="BaseResultMap" type="com.survey.pojo.Company">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="banner" jdbcType="VARCHAR" property="banner" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
    <result column="m_time" jdbcType="TIMESTAMP" property="mTime" />
    <result column="seq" jdbcType="BIGINT" property="seq" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="selectCommon">

    SELECT  id, name, short_name, logo, banner, image, c_time, m_time, seq, content

  </sql>


  <delete id="delete" parameterType="java.lang.Integer">
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.survey.pojo.Company">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into company (name, short_name, logo, 
      banner, image, c_time, 
      m_time, seq, content
      )
    values (#{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{banner,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{cTime,jdbcType=TIMESTAMP}, 
      #{mTime,jdbcType=TIMESTAMP}, #{seq,jdbcType=BIGINT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="update" parameterType="com.survey.pojo.Company">
    update company
    set name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      banner = #{banner,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      m_time = #{mTime,jdbcType=TIMESTAMP},
      seq = #{seq,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectCommon"/>
    from company
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    <include refid="selectCommon"/>
    from company
  </select>

  <!--管理平台使用查询展商-->
  <sql id="sql_count">
    select count(*)
  </sql>
  <sql id="sql_where">
    from company
    <where>
      <if test="name != null and name != ''">
        and name LIKE concat(concat('%',#{name}),'%')
      </if>
    </where>
  </sql>
  <sql id="sql_order">
    order by id desc
  </sql>

  <select id="findByParams_count" parameterType="java.util.HashMap" resultType="int">
    <include refid="sql_count"/>
    <include refid="sql_where"/>
  </select>
  <select id="findByParams" parameterType="java.util.HashMap" resultType="com.survey.pojo.Company">
    <include refid="selectCommon"/>
    <include refid="sql_where"/>
    <include refid="sql_order"/>
  </select>

</mapper>