<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompanyDot">
  <resultMap id="BaseResultMap" type="com.survey.pojo.CompanyDot">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_area_id" jdbcType="INTEGER" property="companyAreaId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="banner" jdbcType="VARCHAR" property="banner" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
    <result column="m_time" jdbcType="TIMESTAMP" property="mTime" />
    <result column="dot_code" jdbcType="VARCHAR" property="dotCode" />
    <result column="seq" jdbcType="BIGINT" property="seq" />
  </resultMap>

  <sql id="selectCommon">

    SELECT  id, company_id, company_area_id, name, address, tel, banner, c_time, m_time,
    seq , dot_code

  </sql>


  <delete id="delete" parameterType="java.lang.Integer">
    delete from company_dot
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.survey.pojo.CompanyDot">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into company_dot (company_id, company_area_id, name, 
      address, tel, banner, 
      c_time, m_time, seq,dot_code
      )
    values (#{companyId,jdbcType=INTEGER}, #{companyAreaId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{banner,jdbcType=VARCHAR}, 
      #{cTime,jdbcType=TIMESTAMP}, #{mTime,jdbcType=TIMESTAMP}, #{seq,jdbcType=BIGINT} ,  #{dotCode,jdbcType=VARCHAR}
      )
  </insert>
  <update id="update" parameterType="com.survey.pojo.CompanyDot">
    update company_dot
    set company_id = #{companyId,jdbcType=INTEGER},
      company_area_id = #{companyAreaId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      banner = #{banner,jdbcType=VARCHAR},
      dot_code = #{dotCode,jdbcType=VARCHAR},
      m_time = #{mTime,jdbcType=TIMESTAMP},
      seq = #{seq,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectCommon"/>
    from company_dot
    where id = #{id,jdbcType=INTEGER}
  </select>



  <sql id="sql_count">
    select count(*)
  </sql>

  <sql id="sql_where">
    from company_dot
    <where>
      <if test="name != null and name != ''">
        and name LIKE concat(concat('%',#{name}),'%')
      </if>

      <if test="companyId != null and companyId != 0">
        and company_id = #{companyId}
      </if>

      <if test="companyAreaId != null and companyAreaId != 0">
        and company_area_id = #{companyAreaId}
      </if>

      <if test="dotCode != null and dotCode != ''">
        and dot_code = #{dotCode}
      </if>


    </where>
  </sql>

  <sql id="sql_order">
    order by id desc
  </sql>

  <select id="findByParams_count" parameterType="java.util.HashMap" resultType="int">
    <include refid="sql_count"/>
    <include refid="sql_where"/>
  </select>
  <select id="findByParams" parameterType="java.util.HashMap" resultType="com.survey.pojo.CompanyDot">
    <include refid="selectCommon"/>
    <include refid="sql_where"/>
    <include refid="sql_order"/>
  </select>



  <select id="listCompanyDot" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="selectCommon"/>
    <include refid="sql_where"/>
    <include refid="sql_order"/>
  </select>
</mapper>