<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.dao.FUserMapper">
  <resultMap id="BaseResultMap" type="com.survey.pojo.FUser">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
    <result column="m_time" jdbcType="TIMESTAMP" property="mTime" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from f_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.survey.pojo.FUser">
    insert into f_user (user_id, user_name, user_pwd, 
      name, head_img_url, phone, 
      c_time, m_time, company_id
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{headImgUrl,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{cTime,jdbcType=TIMESTAMP}, #{mTime,jdbcType=TIMESTAMP}, #{companyId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.survey.pojo.FUser">
    update f_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      m_time = #{mTime,jdbcType=TIMESTAMP},
      company_id = #{companyId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, user_name, user_pwd, name, head_img_url, phone, c_time, m_time, company_id
    from f_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_name, user_pwd, name, head_img_url, phone, c_time, m_time, company_id
    from f_user
  </select>
</mapper>