<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FUser">
  <resultMap id="BaseResultMap" type="com.survey.pojo.FUser">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
    <result column="m_time" jdbcType="TIMESTAMP" property="mTime" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>

  <sql id="selectCommon">

    select a.user_id,
            a.user_name,
            a.user_pwd,
            a.name,
            a.head_img_url,
            a.phone,
            a.c_time,
            a.m_time,
            a.company_id ,
            a.role ,
            a.role_id

  </sql>


  <delete id="delete" parameterType="java.lang.Integer">
    delete from f_user a
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.survey.pojo.FUser">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>

    insert into f_user ( user_name, user_pwd,
      name, head_img_url, phone, 
      c_time, m_time, company_id,role,role_id
      )
    values ( #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{headImgUrl,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{cTime,jdbcType=TIMESTAMP}, #{mTime,jdbcType=TIMESTAMP}, #{companyId,jdbcType=INTEGER},
      #{role,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}
      )
  </insert>

  <update id="update" parameterType="com.survey.pojo.FUser">
    update f_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      m_time = #{mTime,jdbcType=TIMESTAMP},
      company_id = #{companyId,jdbcType=INTEGER},
      role = #{role,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectCommon"/>
    from f_user a
    where user_id = #{userId,jdbcType=INTEGER}
  </select>


  <select id="checkPwd" parameterType="map" resultMap="BaseResultMap">
    <include refid="selectCommon"/>
    from f_user a
    where (user_name = #{userName} or phone=#{phone}) and user_pwd = #{userPwd}
  </select>


  <!--管理平台使用查询展商-->
  <sql id="sql_count">
    select count(*)
  </sql>
  <sql id="sql_where">
    from f_user a
    <where>
      <if test="name != null and name != ''">
        and name LIKE concat(concat('%',#{name}),'%')
      </if>

      <if test="user_name != null and user_name != ''">
        and user_name = #{userName}
      </if>

      <if test="phone != null and phone != ''">
        and phone = #{phone}
      </if>

      <if test="companyId != null and companyId != 0">
        and company_id = #{companyId}
      </if>

      <if test="role != null and role > 0 ">
        and role = #{role}
      </if>

      <if test="roleId != null and roleId > 0 ">
        and role_id = #{roleId}
      </if>


    </where>
  </sql>
  <sql id="sql_order">
    order by user_id desc
  </sql>

  <select id="findByParams_count" parameterType="java.util.HashMap" resultType="int">
    <include refid="sql_count"/>
    <include refid="sql_where"/>
  </select>
  <select id="findByParams" parameterType="java.util.HashMap" resultType="com.survey.pojo.FUser">
    <include refid="selectCommon"/>
    <include refid="sql_where"/>
    <include refid="sql_order"/>
  </select>

</mapper>