<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.question.dao.QuestionDotMapper">
  <resultMap id="BaseResultMap" type="com.question.pojo.QuestionDot">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="dot_id" jdbcType="INTEGER" property="dotId" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
    <result column="m_time" jdbcType="TIMESTAMP" property="mTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question_dot
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.question.pojo.QuestionDot">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into question_dot (question_id, company_id, area_id, 
      dot_id, c_time, m_time
      )
    values (#{questionId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, 
      #{dotId,jdbcType=INTEGER}, #{cTime,jdbcType=TIMESTAMP}, #{mTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.question.pojo.QuestionDot">
    update question_dot
    set question_id = #{questionId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      dot_id = #{dotId,jdbcType=INTEGER},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      m_time = #{mTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, question_id, company_id, area_id, dot_id, c_time, m_time
    from question_dot
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, question_id, company_id, area_id, dot_id, c_time, m_time
    from question_dot
  </select>
</mapper>